@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #313339;
    font-family: "Montserrat", sans-serif !important;
}

p,
h2,
h3,
h4,
h5,
h6 {
    color: #BDC3C7;
}

h1 {
    color: #FFF;
    font-weight: 700;
}

.center-text {
    width: 100%;
    text-align: center;
}

.card {
    background-color: #2B2C31;
    border-radius: 5px;
    border: 1px solid #222226;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 10px;
}

.inner-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container,
.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.center {
    align-items: center;
}

.card h1 {
    font-size: 1.5rem;
}

.sad {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    fill: #BDC3C7;
}

.not-found {
    margin-top: 20px;
    opacity: 0.4;
}

.card p {
    margin-top: 5px;
}

.loading {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    overflow: hidden;
    background-color: #222226;
}


.loading-active {
    opacity: 1 !important;
}

.loading-bar {
    background-color: #4834d4;
    height: 100%;
    max-width: 100%;
    width: 5%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.clickable {
    cursor: pointer;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.0rem;
}

h4 {
    font-size: 0.9rem;
}




@media only screen and (max-width: 1300px) {
    .inner-container {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .inner-container {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .inner-container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .inner-container {
        width: 99%;
        display: flex;
        flex-direction: column;
    }
}